html,
body {
  padding: 10px;
}

a:hover {
  text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-addbot-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-addbot-form p {
  margin-bottom: 5px;
}

.addbot-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-addbot-form {
  position: relative;
}
.addbot-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.addbot-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.addbot-form-1 .form-control:-moz-placeholder,
.addbot-form-1 .form-control::-moz-placeholder,
.addbot-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.addbot-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.addbot-form-1 .form-group:last-child {
  border-bottom: 0;
}
.addbot-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

.addbot-form-1 .addbot-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.addbot-form-1 .addbot-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.addbot-form-1 .addbot-button.clicked {
  color: #555555;
}
.addbot-form-1 .addbot-button.clicked:hover {
  transform: none;
}
.addbot-form-1 .addbot-button.clicked.success {
  color: #2ecc71;
}
.addbot-form-1 .addbot-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}

/*=== 9. Misc ===*/
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}
